# --- 编译产物 (Build Outputs) ---
*.obj
*.o
*.lib
*.hex
*.bin
*.axf
*.elf
*.map
*.lst

# --- Keil 中间文件 (Intermediate Files) ---
*.crf
*.d
*.dep
*.lnp
*._ia
*.htm
*.build_log.htm
*.sct
*.log

# --- IDE 个性化设置 (User specific files) ---
# 这些文件记录了你本地窗口布局、断点等，不应上传
*.uvgui.*
*.uvguix.*
*.txt
*.bak
*.dep
*.json
.vscode/*

# --- 必须保留的文件 ---
!*.ioc
!*.c
!*.h
!*.s